@using DomainLayer.DTOs.Prog
@model ProgDetailViewModel
@{
    ViewData["Title"] = "اطلاعات برنامه";
}

<h1>اطلاعات برنامه</h1>

<div class="row">
    <input type="hidden" asp-for="Id"/>
    <!-- تصویر برنامه -->
    <div class="col-lg-6">
        <div class="course-image">
            <img src="/ProgImage/@Model.Image" alt="تصویر برنامه" class="img-fluid rounded">
        </div>
    </div>
    <!-- جزئیات برنامه -->
    <div class="col-lg-6">
        <div class="course-details">
            <h2 class="text-primary">عنوان برنامه: @Model.Title</h2>
            <p><i class="fa fa-map-marker-alt text-primary me-2"></i>مکان: @Model.Place</p>
            <p class="lead">توضیحات: @Model.Description</p>
            <p><strong>مربی:</strong> <span>@Model.LeaderName</span></p>
            <p><strong>پیش‌نیازها:</strong> <span>@Model.WhichProgramPrerequisites</span></p>
            <p><strong>پیش‌نیاز دوره:</strong> <span>@Model.PrerequisiteCourse</span></p>
            <p><strong>پیش‌نیاز برنامه:</strong> <span>@Model.PrerequisitePrograms</span></p>
            <p><strong>قیمت:</strong> <span class="text-success">@Model.Price.ToString() تومان</span></p>
            <p><strong>تاریخ برگزاری:</strong> <span>@Model.HoldingDate</span></p>
            <p><strong>نوع دوره:</strong> <span>@Model.ProgramType</span></p>
            <a asp-action="AddProgToUser" asp-route-ProgId="@Model.Id" class="btn btn-primary">افزودن به برنامه های من</a>
        </div>
    </div>
</div>