@using DomainLayer.DTOs.Prog
@model IEnumerable<HeldProgListViewModel>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-end mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-1" style="margin-left: 10rem;">برنامه ها</h1>
                    <p>برنامه های پیشین و آینده را می‌توانید در این بخش مشاهده کنید</p>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active"> 
                <div class="row g-4">
                    @foreach (var prog in Model)
                    {
                        <input type="hidden" asp-for="@prog.Id" />
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="property-item rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <a href="">
                                        <img class="img-fluid img-fluid-course" src="/ProgImage/@prog.Image" alt="">
                                    </a>
                                    <div class="bg-danger rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                        @((prog.Status == false) ? "برگذار شده" : "جاری" )
                                    </div>
                                </div>
                                <div class="p-4 pb-0">
                                    <a class="d-block h5 mb-2" href="">@prog.Title</a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>@prog.Place</p>
                                </div>
                                <div class="d-flex border-top">
                                    <a asp-action="ProgDetail" asp-route-Id="@prog.Id" class="btn btn-primary">جزئیات</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <a asp-action="ShowMoreProgs" class="btn btn-primary py-3 px-5">موارد بیشتر...</a>
                </div>
            </div>
        </div>
    </div>
</div>