@using DomainLayer.DTOs.Role
@using DomainLayer.Entities
@model CreateRoleViewModel
@{
    ViewData["Title"] = "ویرایش نقش";
    List<Permission> permissions = ViewData["permissions"] as List<Permission>;
    List<int> SelectedPermissions = ViewData["SelectedPermission"] as List<int>;
}

<h1>ویرایش نقش</h1>

<div class="container">
    <form asp-controller="Role" asp-action="EditRole" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-7">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header BTN-PANEL text-white">نقش جدید</div>
                        <div class="card-body">
                            <!-- Id Field (Hidden) -->
                            <input asp-for="Id" type="hidden">

                            <!-- عنوان دوره -->
                            <div class="form-group">
                                <label asp-for="Title" for="Title">عنوان نقش</label>
                                <input asp-for="Title" type="text" class="form-control" id="Title" name="Title" value="@Model.Title" required="">
                            </div>

                            <!-- دکمه ذخیره -->
                            <button type="submit" class="btn btn-primary mt-3 BTN-PANEL">ذخیره تغییرات</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header BTN-PANEL text-white">دسترسی های نقش</div>
                        <div class="panel-body">
                    <ul>
                        @foreach (var permission in permissions.Where(p => p.ParentId == null))
                        {
                            <li>
                                <input type="checkbox" name="SelectedPermission" @((SelectedPermissions.Any(p => p == permission.PermissionId)) ? "checked": "") value="@permission.PermissionId" /> @permission.Title
                                @if (permissions.Any(p => p.ParentId == permission.ParentId))
                                {
                                    <ul>
                                        @foreach (var sub in permissions.Where(s => s.ParentId == permission.PermissionId))
                                        {
                                            <li>
                                                <input type="checkbox" name="SelectedPermission" @((SelectedPermissions.Any(p => p == sub.PermissionId)) ? "checked": "") value="@sub.PermissionId" /> @sub.Title
                                                @if (permissions.Any(p => p.ParentId == sub.ParentId))
                                                {
                                                    <ul>
                                                        @foreach (var sub2 in permissions.Where(s => s.ParentId == sub.PermissionId))
                                                        {
                                                            <li>
                                                                <input type="checkbox" name="SelectedPermission" @((SelectedPermissions.Any(p => p == sub2.PermissionId)) ? "checked": "") value="@sub2.PermissionId" /> @sub2.Title
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </form >
</div>